@font-face {
  font-family: 'Bree Serif';
  src: url('./fonts/Bree_Serif/BreeSerif-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Satisfy';
  src: url('./fonts/Satisfy/Satisfy-Regular.ttf') format('truetype');
}

* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: 'Bree Serif', serif;
  background-image: url("./images/woodbg.png");
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
